---
import Button from "../../components/Buttons/Button";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Your Invitation" lowkey={false}>
  <main>
    <div class="title">
      <h2>Your invitation</h2>
      <p>This is the hub for all things to do with your invitation.</p>
    </div>
    <ul class="navigation">
      <li>
        <p>If you need to find your invitation</p>
        <Button link="/invite/find" type="primary" client:visible>
          Find Invitation
        </Button>
      </li>
      <li>
        <p>
          If you've already viewed your invitation on this browser, it should be
          here
        </p>
        <Button link="/invite/view" type="secondary" client:visible>
          View Invitation
        </Button>
      </li>
      <li>
        <p>
          If you don't have an invitation, and you believe this is a mistake,
          please don't hesitate to contact us. Our contact information is
          available at the bottom of every page.
        </p>
      </li>
    </ul>
  </main>
</Layout>

<style lang="scss">
  main {
    padding-inline: 36px;
  }
  .title {
    text-align: center;
    margin-block: 56px;

    h2 {
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 14px;
    }

    p {
      font-size: 18px;
      font-weight: 400;
      color: rgba($color: #000000, $alpha: 0.6);
    }
  }

  .navigation {
    padding-inline: 0;
    list-style: none;

    li {
      padding-left: 24px;
      border-left: 2px solid #eaeaea;
      margin-bottom: 36px;

      p {
        font-size: 16px;
        font-weight: 400;
        color: rgba($color: #000000, $alpha: 0.6);
        margin-bottom: 14px;
      }
    }
  }
</style>
