---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Invitation not Foudn">
  <main>
    <h2>Invitation not found :(</h2>
    <p>
      Unfortunately, we can't seem to find your invitation on this device. You
      may need to <a href="/invite/find">find your invitation</a> before viewing.
    </p>
  </main>
</Layout>

<style lang="scss">
  main {
    padding: 82px;
    text-align: center;

    h2 {
      font-size: 36px;
      font-weight: 400;
    }
  }
</style>
