---
import Layout from "../../layouts/Layout.astro";
import YourInvite from "../../components/Invite";
---

<Layout title="Your Invitation" lowkey={true}>
  <main>
    <YourInvite client:load />
  </main>
</Layout>

<style lang="scss">
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --text-color: #000;
    background-color: #fff;
  }
</style>
