---
import Layout from "../layouts/Layout.astro";
import Questions from "../components/Sections/Questions";

const faqs = [
  {
    question: "Will there be alcohol served?",
    answer: `
      We will have a cash-only bar available from 6:30pm-8:30pm.
    `,
  },
  {
    question: "Do you have a gift registry?",
    answer: `
      We do not have a gift registry, but we do have a <a href="/donations">donations page</a> if you would like to contribute to our honeymoon.
    `,
  },
  {
    question: "Where is the wedding?",
    answer: `
        The wedding will be held at the beautiful <a
            href="https://www.greenvilla.us/" target="_blank">Green Villa</a
          > barn. You can find directions <a target="_blank"
            href="https://goo.gl/maps/9J5v2maCQZ6u5Dgw7">here</a
          >.
        `,
  },
  {
    question: "What time is the wedding?",
    answer: `
        All guests will take seats at 5:45pm. The ceremony will begin at 6:00pm. The reception will begin at 7:00pm.
        `,
  },
  {
    question: "What should I wear?",
    answer: `
        The dress code will be semi-formal, plan for a hot summer day at the end of August, and pictures will
        be taken throughout the event. The ceremony will be outside!
        `,
  },
  {
    question: "What will the day look like?",
    answer: `
        You can check out our itinerary <a href="/itinerary">here</a>.
    `,
  },
  {
    question: "Who is invited?",
    answer: `
        The bride and groom have chosen to keep this event intimate. We have selected a small group of family and friends
        to attend. If you feel you should have recieved an invitation, please reach out.
        `,
  },
  {
    question: "How do I find my invite?",
    answer: `
        You should have received an email or a text message with a link to your invitation. If you did not recieve an invite,
        or have lost your invitation, you can go to <a href="/invite/find">this link</a> to find it again. Once you have your invitation, you should be able
        to access it from this website as well at <a href="/invite/view">this link</a>.
    `,
  },
  {
    question: "How do I contact the bride and groom?",
    answer: `
      The bride and groom's contact information is listed at the bottom of every page.
    `,
  },
];
---

<Layout title="FAQ's">
  <main>
    <h2>Frequently Asked Questions</h2>
    <div class="questions">
      <Questions client:load questions={faqs} />
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    padding-inline: 36px;
    padding-block-end: 56px;
  }
  h2 {
    font-size: 36px;
    font-weight: 400;
  }
</style>
