---
import FAQs from "../components/FAQs/FAQs.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Our Wedding | Home">
  <section class="hero">
    <img class="hero__image" src="/assets/images/hero.png" />
    <p class="hero__text">The Wedding of Laney & Aidan</p>
    <div class="hero__buttons">
      <button class="hero__button btn btn-primary">Gifts</button>
    </div>
  </section>
  <section class="faqs">
    <FAQs
      questions={[
        {
          question: "Where is the wedding?",
          answer:
            "The wedding will be held at the beautiful Green Villa wedding barn in Independence.",
        },
        {
          question: "When is the wedding?",
          answer: "The wedding will be August 28th, 2023",
        },
      ]}
      client:load
    />
  </section>
</Layout>

<style lang="scss">
  .hero {
    height: 100vh;
    position: relative;

    &__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: brightness(0.6);
    }

    &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -75%);
      color: white;
      font-size: 48px;
      font-weight: 400;
      font-family: "Dancing Script", cursive;
      text-align: center;
      width: 80%;
    }

    &__buttons {
      position: absolute;
      bottom: 20%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  }
</style>
