---
import Button from "../components/Buttons/Button";
import Countdown from "../components/Countdown/Countdown";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main>
    <section class="hero">
      <div class="countdown">
        <h1 class="title">Countdown</h1>
        <p class="caption">
          The Wedding will be held at 6pm on Monday, August 28th
        </p>
        <div class="countdown-container">
          <Countdown client:load date={new Date("2023-08-28T16:00:00.000Z")} />
        </div>
      </div>
      <div class="buttons">
        <div class="cta">
          <p>Have an Invitation?</p>
          <Button link="/invite" type="primary" client:load>
            Your Invitation
          </Button>
        </div>
        <div class="cta">
          <p>Got a Question?</p>
          <Button link="/faqs" type="secondary" client:load>See FAQ's</Button>
        </div>
      </div>
    </section>
    <section class="story">
      <h1 class="title">Our Story</h1>
      <p class="caption">
        The story of how we fell in love, and why we're getting married
      </p>
      <div class="paragraphs">
        <p>
          Once upon a time, in high school, two souls met and a love story
          began. Laney and Aidan were just two ordinary students, with their own
          group of friends and their own interests. However, fate had something
          special in store for them.
          <br />
          <br />
          It all started with coffee, as all good things do. Aidan and Laney met
          through a mutual friend and ignited a conversation. The conversation continued
          in class, over the phone, late into the hours of night and finally Aidan
          finally asked Laney out.
          <br />
          <br />
          As time endured, in all good stories there's always a falling out. In this
          case, life got in the way and their conversations turned into awkward,
          longing looks across the hallway.
        </p>

        <p>
          Laney's sister Makenna decided it was time for the longing looks to
          end and to play the role of cupid. They began to talk again. The
          conversation only grew between them and as a few months rolled by a
          spark reignited amidst them. They came back together and their
          relationship became even stronger.
          <br />
          <br />
          As the time passed their love endured, and they stayed together through
          thick and thin. They shared laughs, grew together and made memories.
          <br />
          <br />
          Now, years later, they stand together on the brink of a new adventure -
          their wedding day. They are excited to start their lives together as husband
          and wife, and they are grateful for all the family and friends who will
          join them on their wedding day.
        </p>
      </div>
    </section>
  </main>
</Layout>

<style lang="scss">
  section {
    padding-inline: 36px;
    padding-block: 36px;
    border-bottom: 1px solid #eaeaea;
    min-height: calc(100vh - 82px);

    &:last-child {
      border-bottom: none;
    }
  }

  .title {
    font-size: 48px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
    text-align: center;
  }

  .caption {
    font-size: 18px;
    font-weight: 400;
    font-family: "Dancing Script", cursive;
    margin: 0;
    padding: 0;
    margin-bottom: 36px;
    text-align: center;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    .countdown {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .buttons {
      margin-top: 56px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      @media (min-width: 768px) {
        flex-direction: row;
      }

      @media (min-width: 768px) {
        width: 50%;
      }

      .cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:nth-child(1) {
          margin-bottom: 24px;

          @media (min-width: 768px) {
            margin-bottom: 0;
          }
        }

        p {
          font-family: "Dancing Script", cursive;
          font-size: 18px;
          font-weight: 500;
          color: rgba($color: #242424, $alpha: 0.65);
        }
      }
    }
  }

  .countdown-container {
    width: 75%;

    @media (min-width: 768px) {
      width: 35%;
    }
  }

  .story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .paragraphs {
      // grid, 2 columns
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 24px;

      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }

      p {
        font-weight: 300;
        line-height: 24px;
        font-size: 16px;
        margin: 0;
      }
    }
  }
</style>
