---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Our Wedding | Home">
  <section class="hero">
    <img class="hero__image" src="/assets/images/hero.png" />
  </section>
</Layout>

<style>
  .hero {
    height: 100vh;
  }

  .hero__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }
</style>
