.invite {
  padding-inline: 36px;
  padding-block: 82px;
  height: calc(100vh - 82px);

  @media (min-width: 768px) {
    padding-inline: 124px;
  }
}

.text {
  animation-name: textIn;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  text-align: center;

  h2 {
    font-size: 36px;
    font-weight: 400;
    font-family: "Dancing Script", cursive;
    margin-bottom: 56px;
  }

  p {
    font-size: 18px;
    color: var(--text-color);
    font-weight: 300;
    margin: 0;
    margin-bottom: 36px;
    text-align: left;
  }
}

@keyframes textIn {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ctaIn {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cta {
  margin-top: 56px;

  button {
    border: none;
    font-size: 24px;
    background-color: transparent;
    font-family: "Dancing Script", cursive;
    color: var(--text-color);
    cursor: pointer;
    border-bottom: 1px solid black;
    padding: 0;
    transition: all 0.2s ease-in-out;

    &:hover {
      padding-bottom: 5px;
      padding-left: 10px;
      border-bottom-width: 1.5px;
      border-bottom-color: var(--sage-green);
      border-left: 1.5px solid var(--sage-green);
    }
  }
}
