.find {
  width: 50%;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  label {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 14px;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 24px;
    border-radius: 5px;
    border: 1px solid #eaeaea;

    &:focus {
      outline: none;
    }
  }
}
