---
export interface Props {
  title: string;
  lowkey?: boolean;
}

const { title, lowkey } = Astro.props;
import Navbar from "../components/Navigation/Navbar";
import Footer from "../components/Layout/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/phosphor-icons"></script>
    <title>Our Wedding | {title}</title>
  </head>
  <body>
    <Navbar client:load lowkey={lowkey} />
    <slot />

    <Footer />
    <style is:global>
      :root {
        --sand: #ffbe9b;
        --sage-green: #aabfb3;
        --font-primary: "Lato", sans-serif;
        --font-secondary: "Dancing Script", cursive;
      }
      html {
        font-family: system-ui, sans-serif;
      }
      body {
        margin: 0;
        padding: 0;
        color: #242424;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }

      .btn {
        display: inline-block;
        width: 115px;
        height: 40px;
        border: none;
        font-size: 17px;
        font-family: "Cormorant Garamond", serif;
        cursor: pointer;
        box-shadow: 0.2px 0.2px 10px rgba(0, 0, 0, 0.25);
        transition: all 0.2s ease-in-out;
      }

      .btn:hover {
        box-shadow: 0.2px 0.2px 10px rgba(0, 0, 0, 0.5);
      }

      .btn-primary {
        background-color: var(--sand);
        color: #242424;
      }
    </style>
  </body>
</html>
